* text=auto eol=lf
*.sh text eol=lf
entrypoint.sh text eol=lf

# Force Unix line endings for all text files
*.php text eol=lf
*.blade.php text eol=lf diff=html
*.css text eol=lf diff=css
*.html text eol=lf diff=html
*.md text eol=lf diff=markdown
*.js text eol=lf
*.json text eol=lf

# Binary files

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
