# Ignorar dependências do Node.js
node_modules/

# Ignorar banco de dados local SQLite
database/database.sqlite

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos do sistema
.DS_Store

# Ignorar relatórios de cobertura de testes
coverage/
